<!DOCTYPE html>
<html>
<head>
  <title>Device Page</title>
  <script src="https://<%= ctm_host %>/ctm-phone-device-1.0.js"></script>
</head>
<body>
  <h1>CTM Phone Device </h1>
  <p>This page hosts the phone device.  The phone device is a single page that handles connecting to the voice part of the phone call.  It can signal back to one or more ctm-phone-embed pages allowing you to have multiple ctm-phone-embed pages open/refreshed or closed during a live call so long as this page stays open.</p>
  <ctm-device-embed></ctm-device-embed>
</body>
</html>
