<!DOCTYPE html>
<html>
  <head>
    <title>CTM Demo Home</title>
  </head>
  <body>
    <h1>Welcome to the CTM Demo</h1>
    <ul>
      <li><a href="/phone">Embedded Phone</a></li>
      <li><a href="/agent-status">Agent Status</a></li>
      <li><a href="/dialer-only">Outbound Dialer Only (Custom UI Example)</a></li>
    </ul>
  </body>
</html>
