<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <script src="https://<%= ctm_host %>/ctm-phone-embed-1.0.js"></script>
</head>
<body>
  <h1>Your Application</h1>
  <p>Embedding the CTM Phone</p>
  <ctm-phone-embed access="/api/ctm_access" popout="/device"></ctm-phone-embed>
</body>
</html>
